* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  background-color: #1c1c1c;
}
input,
textarea {
  outline: none;
}
#container {
  width: 100%;
  max-width: 100%;margin-top: 10em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: translate(-50%, 50);
}
h1 {
  text-align: center;
  margin-top: 0;
  font-weight: 500;
  color: #39B47C;
}
form {
  position: relative;
  width: 100%;
  padding: 3rem;
  border-radius: 0.5em;
  background:#232323;
}
.form-inner input,
.form-inner textarea,
input[id = "search-input"] {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
}
div.search{
  display: flex;
  width: 60%;
}
button[id="search-btn"]{
 width: 20%;
 height: 53px;
 color: #39B47C;
 font-size: 26px;
 border-radius: 0.3em;
 cursor: pointer;
}
.form-inner textarea {
  resize: none;
}
button[href="/"] {
  width: 100%;
  padding: 5px;
  margin-top: 20px auto;
  border-radius: 0.3em;
  color: #39B47C;
  font-size: 28px;
  font-weight: bolder;
  cursor: pointer;
  background-color: #fff;
  text-align: center;
}
button [id="insert"],
button [id="add"],
button [id="delete"]{
  margin: auto;
  display: none;
}
div#crud-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
div#crud-btn > button{
  padding: 1em;
  margin: .5em;
  font-size: 1.4em;
  font-weight: bolder;
  letter-spacing: 1.5px;
  border-radius: 0.3em;
  background-color: #39B47C;
  color: #fff;
}
div#retrieved-details{
  font-size: 1.5em;
  margin: auto;
  width: 80%;
  padding: 0;
}
@media (min-width: 568px) {
  form {
    width: 60%;
  }
}

